* {
    box-sizing: border-box;
}

body {
    height: 100%;
    min-height: 100%;
    background: red;
    margin: 0;
    padding: 50px;
}

.container {
    max-width: 1000px;
    background: #38ff1d;
    margin: 0 auto;
    border: 2px solid;
}

.row_top, .row_center, .row_bottom {
    display: flex;
    flex-wrap: wrap;
    margin: 10px;
}

.coll {
    flex-grow: 1;
    flex-shrink: 0;
    flex-basis: auto;
    padding: 0 7px;
}

.col-25 {
    max-width: 25%;
    flex-basis: 25%;
}

.col-50 {
    max-width: 50%;
    flex-basis: 50%;
}

.col-75 {
    max-width: 75%;
    flex-basis: 75%;
}


.block {
    min-height: 150px;
    margin-bottom: 10px;
    border: 2px solid;
}

.row_top .block {
    background: yellow;
}

.row_center .block {
    background: blue;
}

.row_bottom .block {
    background: #f500f5;
}

@media (max-width: 540px) and (orientation: portrait) {
    .col-25, .col-50, .col-75 {
        max-width: 100%;
        flex-basis: 100%;
    }

    .block {
        min-height: 400px;
    }

}

@media (orientation: landscape) {
    .block {
        min-height: 150px;
    }

}
